workflows/Lembrete Manhã (1).json
{
  "name": "Lembrete Manhã",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 2
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -432,
        -144
      ],
      "id": "e907c5d5-a119-43df-a09f-da21c319c62c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM compromissos\nWHERE data = CURRENT_DATE\nAND lembrete_enviado = false\nAND status = 'pendente';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        -16
      ],
      "id": "7b093ad1-addc-4f02-9476-1fa3e25cf615",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "eYSPRSm9APkBFSfE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        -16
      ],
      "id": "5c0ab905-108c-40e9-a611-5f7a4aea6f6b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/agenda-bot",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.remetente.replace('@s.whatsapp.net', '') }}\",\n  \"text\": \"🔔 Lembrete: *{{ $json.titulo }}*\\n📅 Hoje às {{ $json.hora }}\\n🏷️ {{ $json.categoria }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        0
      ],
      "id": "0247e163-b057-4f8c-a36e-6f19dcbebe31",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "v2Jv9KrdiknRNgyU",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE compromissos SET aviso_30min_enviado = true WHERE id = {{ $('Execute a SQL query').item.json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        688,
        0
      ],
      "id": "5035f208-9c35-4568-a970-a860a19b1d28",
      "name": "Marcar Aviso Enviado",
      "credentials": {
        "postgres": {
          "id": "eYSPRSm9APkBFSfE",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Marcar Aviso Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Aviso Enviado": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5a2eb119-00d7-48f5-b535-d2ee13172d51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dba8134e38d084aec0e239e2a73c9fa1996814f4bd9e07a4db79affbce60baa2"
  },
  "id": "SVLFFQsS8P8bMxC4",
  "tags": []
}